
.cover {
  position: relative;
  width: 100%;
  height: 25%;
  max-height: 200px;
}

.avatar {
  //vertical-align: middle;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
}

.btngroup {
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  position: relative;
}

.btn {
  height: 32px;
}

.btnselect {
  height: 32px;
  background: blue;
}

.btndelete {
  left:17%;
  width: 70%;
  color: red;
}

.iconselect {
  color: white;
}

.details {
  position: relative;
  left: 25%;
  //transform: translate(-50%, 0%);
}

.iconf {
  float:left;
  margin-top:10px;
  margin-right:20px;
}

.icon {
  float: left;
  margin-top: 0px;
  margin-right: 20px;
}